.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img{
    width: 220px;
    height: 220px;
    margin-top: 50px;
}

.textoFrase{
    color: #2d6d0f;
    text-align: center;
    font-style: italic;
}

button{
    width: 130px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #2d6d0f;
    border: solid 1px #2d6d0f;
    box-shadow: 0 2px 3px #2d6d0f;
    background-color: transparent;
    cursor: pointer;
}

button:hover{
    background-color: #7518b3;
    border-color: #7518b3;
    color:white;
    box-shadow: 0 2px 5px #313131;
}
